:host {
  display: flex;
  justify-content: center;
  margin-top: -20px;

  input {
    width: 80%;

    border: none;
    background: var(--extended-primary-normal);

    font-size: 16px;
    color: var(--extended-primary-light);
    text-align: center;

    padding: 10px;
    box-sizing: border-box;

    &::placeholder {
      color: var(--extended-primary-light);
    }
  }
}
