<section [ngClass]="{'loading': !taskList.length}">

  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange(item)">
      <input type="text" (keyup)="validationInput(item.description, item)" [(ngModel)]="item.description"
        [ngClass]="{'checked': item.checked}" (ngModelChange)="startSaveTimer(item)">

      <button (click)="deleteItemTaskList(item)">
        <img src="../../../../assets/icons/icon-trash.svg" alt="Trash Icon" >
      </button>
    </li>
  </ul>

</section>


<app-todo-input-add-itens (emitItemTaskList)="setEmitTaskList($event)"></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAll()"></app-todo-button-delete-all>
